---
title: The Days
date: 2020-08-05
layout: layouts/page.njk
eleventyNavigation:
  key: main
  title: Days # as it will appear in the nav
  order: 2    # order to display in the nav
seo:
  title: The Days
  description: Daily posts from my 100DaysOfCode project.
---

{% set postslist = collections.post %}

{# 
  Allows a user to easily change the Post List Style.
  Change the 'postListStyle' value in /_data/structure.json.
  NOTE: Can make this a select in the CMS?
#}
{% set postlist = ['components/', structure.postListStyle, '.njk'] %}
{% include postlist | join %}

